body {
    background-color: aquamarine;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
      
.header{
    font-family: cursive;
    font-size: 50px;
    color: #FFF;
    background-color: aquamarine;
    color: #f41971;
    font-weight:bolder;
    display: flex;
}

.header img{
    width: 90px;
    height: 90px;
}

h1 {
    font-size: 3em;
    margin: 0;
}
  
main {
    padding: 20px;
    display: flex;
    justify-content: center;
}
  
.riddle-container {
    gap: 20px;
}
  
.riddle {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px #ccc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}
  
.riddle:hover {
    transform: scale(1.02);
}
  
.riddle h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
  
.riddle button {
    background-color: #f41971;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
  
.riddle button:hover {
    background-color: #d40054;
}
  
.answer {
    display: none;
    font-style: italic;
    margin-top: 10px;
}
    
p {
    margin: 0;
    font-size: 1em;
}

.section-panel a{
    text-decoration: none;
    color: black;
}

.section-panel p{
    margin-bottom: 2vh;
}

.section-panel{
    display: flex;
    justify-content: center;
}