* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#heading{
    background-color: rgb(209, 110, 232);
    color: wheat;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;  
}

.choice:hover{
    cursor: pointer;
    opacity: 0.5;
    /* border-radius: 50%; */
    /* border-width: 0.1px; */
    /* background-color: rgb(248, 241, 228); */

}

.choices{
    margin-top: 5rem;;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}
  
#msg {
    background-color: #73a2f8;
    color: #ffffff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}